__pycache__/
.mypy_cache/
.ipynb_checkpoints/
*.egg-info/
/.venv/
/download/
dist/
/etc/

docs/build/

coverage.xml
.coverage

g2p.fst
g2p.corpus
lexicon.txt
lexicon.db
postagger.model
model.mkl
model.crf