__pycache__/
.mypy_cache/
.ipynb_checkpoints/
*.egg-info/
/.venv*/
/build/
/download/
dist/
/etc/

coverage.xml
.coverage

g2p.fst
g2p.corpus
lexicon*.txt
words.txt
postagger.model
model.mkl

/data/
/gruut-lang-*/**/lexicon.db
/gruut-lang-*/**/model.crf